body {

    margin: 0;

    font-family: Arial;

    background-color: #f4f4f4;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;
}


.container {

    width: 500px;

    background-color: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


h1 {

    text-align: center;

    margin-bottom: 20px;
}


form {

    display: flex;

    flex-direction: column;

    gap: 15px;
}


input,
select,
textarea,
button {

    padding: 10px;

    font-size: 18px;
}


textarea {

    resize: none;

    height: 120px;
}


button {

    background-color: #003366;

    color: white;

    border: none;

    cursor: pointer;
}


button:hover {

    background-color: #0055aa;
}


.error {

    border: 3px solid red;
}


#result {

    margin-top: 20px;

    font-size: 20px;

    font-weight: bold;

    text-align: center;
}


.radio-group,
.checkbox-group {

    display: flex;

    gap: 15px;

    flex-wrap: wrap;
}